{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
<body class="">
    <div class="container mx-auto">
        <h1 class="text-3xl my-4 text-center title">Cookies Policy</h1>
        
        <p class="mt-2 leading-relaxed">The MyDreamCarAfrica website, operated by Polepole Cash Ltd, uses cookies and other tracking technologies to enhance your browsing experience. This policy outlines how we use these technologies, ensuring transparency and helping you understand your choices.</p>

        <h2 class="text-2xl my-3 subtitle">Why We Use Cookies:</h2>
        
        <h3 class="text-xl my-2 subtitle">What Are Cookies and Tracking Technologies?</h3>
        <p class="mt-2 leading-relaxed">Cookies and tracking technologies enable us or our third-party partners to store information on your browser or device to identify you and monitor your activities for specific purposes, as outlined in this policy. These may:</p>
        <p class="mt-2 leading-relaxed">We only use non-essential cookies and tracking technologies with your consent. You can change your preferences at any time.</p>

        <h2 class="text-2xl my-3 subtitle">Types of Cookies/Tracking Technologies We Use:</h2>
        <p class="mt-2 leading-relaxed">Here’s a breakdown of the cookies used on our website:</p>
        <ul class="list-disc ml-6">
            <li>Essential for the smooth functioning of our website.</li>
            <li>Improve website performance and functionality.</li>
            <li>Provide a personalized browsing experience.</li>
            <li>Keep you updated with MyDreamCarAfrica services even after leaving the site.</li>
            <li>Help us understand your browsing behavior.</li>
            <li>Improve the website's overall user experience.</li>
        </ul>

        <h3 class="text-xl my-2 subtitle">Types of Cookies:</h3>
        <ol class="list-decimal ml-6 mb-4">
            <li><strong>Session Cookies:</strong> Expire when you close your browser, linking activities during that session.</li>
            <li><strong>Persistent Cookies:</strong> Remain on your device until deleted or expired, remembering your preferences for future visits.</li>
            <li><strong>First-party Cookies:</strong> Set by MyDreamCarAfrica.</li>
            <li><strong>Third-party Cookies:</strong> Set by external services we use.</li>
        </ol>

        <h3 class="text-xl my-2 subtitle">Types and Purposes of Cookies:</h3>
        <table class="min-w-full bg-white border border-gray-200 border-collapse">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">Type</th>
                    <th class="py-2 px-4 border-b">Purpose</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-2 px-4 border-b">Strictly Necessary</td>
                    <td class="py-2 px-4 border-b">Required for website operation, including logging into your account and participating in competitions.</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">Analytical/Performance</td>
                    <td class="py-2 px-4 border-b">Help us count visitors, monitor usage, and ensure website effectiveness.</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">Functionality</td>
                    <td class="py-2 px-4 border-b">Recognize you on return visits, personalize your experience, and remember preferences.</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">Targeting</td>
                    <td class="py-2 px-4 border-b">Record your browsing patterns to personalize ads and content on our site.</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">Re-targeting</td>
                    <td class="py-2 px-4 border-b">Display MyDreamCarAfrica or third-party ads once you leave the website.</td>
                </tr>
            </tbody>
        </table>

        <h2 class="text-2xl my-3 subtitle">How to Block Cookies/Tracking Technologies:</h2>
        <p class="mt-2 leading-relaxed">You can manage or block cookies through your browser settings. Please note that blocking essential cookies may limit your ability to access parts of the website.</p>

        <p class="mt-2 leading-relaxed">For any concerns or questions about this policy, please contact us at <a href="mailto:info@mydreamcar.africa" class="text-blue-600">info@mydreamcar.africa</a></p>
    </div>
{% endblock %}